<div class="product-menu">
  <h2>Products</h2>
  {% if not app.user.username is defined %}
  <p>Sign in and start sharing with health information.</p>
  {% endif %}
  <div class="product1">
    {% if app.user.username is defined %}
    <a href="{{ path('products', {'productname': 'openmrs'}) }}">OpenMRS</a>
    {% else %}
    <h3>OpenMRS</h3>
    {% endif %}
  </div>
  <div class="product2">
    {% if app.user.username is defined and is_granted('ROLE_SCOMDIS_USER') %}
      <a href="{{ path('scomdis') }}">SComDis</a>
    {% else %}
      <h3>SComDis</h3>
    {% endif %}
  </div>
  <div class="product3">
    {% if app.user.username is defined %}
      <a href="{{ path('products', {'productname': 'ddms'}) }}">DDMS</a>
    {% else %}
      <h3>DDMS</h3>
    {% endif %}
  </div>
  <div class="product4">
    {% if app.user.username is defined %}
      <a href="{{ path('products', {'productname': 'health_res'}) }}">HealthRes</a>
    {% else %}
      <h3>HealthRes</h3>
    {% endif %}
  </div>
  <div class="product5">
    {% if app.user.username is defined %}
      <a href="{{ path('products', {'productname': 'public_health_res'}) }}">Public HealthRes</a>
    {% else %}
      <h3>Public HealthRes</h3>
    {% endif %}
  </div>
  <div class="product6">
    {% if app.user.username is defined %}
      <a href="{{ path('products', {'productname': 'cmssm'}) }}">CMSSM</a>
    {% else %}
      <h3>CMSSM</h3>
    {% endif %}
  </div>
  <div class="product7">
    {% if app.user.username is defined %}
      <a href="{{ path('products', {'productname': 'mortality'}) }}">Mortality</a>
    {% else %}
      <h3>Mortality</h3>
    {% endif %}
  </div>
  <div class="product8">
    <h3>Product8</h3>
  </div>
  <div class="product9">
    <h3>Product9</h3>
  </div>
</div>