{% extends 'DIISHSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - Seasonal Coefficient Chart - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - Seasonal Coefficient Chart' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_chart_coefficient' %}

{% block javascripts %}
  {{ parent() }}
<script>
$('#SurveillanceCoefficient_showOnlyIslandwide').change(function() {
    if (this.checked) {
        $('#SurveillanceCoefficient_showIslandwide').attr("disabled", 'disabled');
    } else {
        $('#SurveillanceCoefficient_showIslandwide').removeAttr("disabled");
    }
});
</script>

<script>
$(document).ready(function() {
  $('#SurveillanceCoefficient_showOnlyIslandwide').trigger('change');
});
</script>
{% endblock %}

{% block content %}
<form action="{{ path('scomdis_chart_coefficient') }}" method="post" class="form-horizontal" onsubmit="target_popup(this, 'width=1080,height=800,left=100,top=100,directories=no,location=no,menubar=no,resizeable=yes,scrollbars=yes,status=no,titlebar=no,toolbar=no')">
  {{ form_errors(form) }}
  <div class="control-group {% if form.year_choices.vars.errors|length > 0 %}error{% endif %}">
    <label class="control-label">Target year</label>
    <div class="controls">
    {{ form_errors(form.year_choices) }}
      <select id="syndrome" name="SurveillanceCoefficient[target_year]">
      {% for year in yearChoices %}
        <option value="{{ year }}" >{{ year }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  
  <div class="control-group {% if form.year_choices.vars.errors|length > 0 %}error{% endif %}">
    <label class="control-label">Calculation Years</label>
    <div class="controls">
    {{ form_errors(form.year_choices) }}
      <select id="syndrome" name="SurveillanceCoefficient[year_choices][]" required="required" multiple="multiple">
      {% for year in yearChoices %}
        <option value="{{ year }}" >{{ year }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="control-group {% if form.syndromes.vars.errors|length > 0 %}error{% endif %}">
    <label class="control-label">Syndromes</label>
    <div class="controls">
    {{ form_errors(form.syndromes) }}
      <select id="syndrome" name="SurveillanceCoefficient[syndromes][]" required="required" multiple="multiple">
      {% for syndrome in syndromes %}
        <option value="{{ syndrome.id }}" >{{ syndrome.name }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="control-group">
    {{ form_errors(form.useNoRecords) }}
    <div class="controls">
    <label class='checkbox'>{{ form_widget(form.useNoRecords) }}Calc. no records as 0 case.</label>
    </div>
  </div>
  <div class="control-group">
    {{ form_errors(form.useLandwideSD) }}
    <div class="controls">
    <label class='checkbox'>{{ form_widget(form.useLandwideSD) }}Calc. coefficient using islandwide SD and average that devided by population ratio.</label>
    </div>
  </div>
  <div class="control-group">
    {{ form_errors(form.showOnlyIslandwide) }}
    <div class="controls">
    <label class='checkbox'>{{ form_widget(form.showOnlyIslandwide) }}Show only islandwide coefficient</label>    
    </div>
  </div>
  <div class="control-group">
    {{ form_errors(form.showIslandwide) }}
    <div class="controls">
    <label class='checkbox' id='islandwide'>{{ form_widget(form.showIslandwide) }}Show islandwide coefficient on the chart</label>
    </div>
  </div>
  {{ form_widget(form._token) }}
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Create">
  </div>
</form>
{% endblock %}
